In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vin.csv')

In [3]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
df

       target                           vin   type                region
0    Fromages                    Vacqueyras  Rouge                 Rhône
1    Fromages                Côtes du Rhône  Rouge                 Rhône
2    Fromages       Côtes du Rhône Villages  Rouge                 Rhône
3    Fromages        Montagne Saint-Emilion  Rouge              Bordeaux
4    Fromages              Côtes du Luberon  Rouge                 Rhône
..        ...                           ...    ...                   ...
654    Soupes                 Vosne-romanée  Rouge             Bourgogne
655    Soupes     Alsace-grand cru Riesling  Blanc                Alsace
656    Soupes  Côtes du Roussillon villages   Rosé  Languedoc/Roussillon
657    Soupes           Côtes du Roussillon   Rosé  Languedoc/Roussillon
658    Soupes               Mâcon supérieur  Blanc             Bourgogne

[659 rows x 4 columns]

In [5]:
df["target"].value_counts()

Fromages            40
Poulet              40
Viandes blanches    40
Oeuf                40
Lapin               40
Poissons            40
Pâtes               40
Légumes             40
Gibiers             40
Fruits de mer       40
Desserts            40
Charcuteries        40
Apéritif            40
Abats               40
Boeuf               40
Soupes              40
Salades             19
Name: target, dtype: int64